<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736993234483-u0q7e0vlr3dr5lo4lr23s84qd2ksuu8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736993234483-u0q7e0vlr3dr5lo4lr23s84qd2ksuu8g</string>
	<key>API_KEY</key>
	<string>AIzaSyBobwaebYRtEiSSQygnwv9HQCrR2YCtvEA</string>
	<key>GCM_SENDER_ID</key>
	<string>736993234483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp</string>
	<key>PROJECT_ID</key>
	<string>sustainswap-9ced0</string>
	<key>STORAGE_BUCKET</key>
	<string>sustainswap-9ced0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736993234483:ios:e49da2eb5d441569eadd46</string>
</dict>
</plist>